{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %}some bar charts{% endblock %}

{% block scriptHeader %}
    <!--highcharts -->
        <script src="{% static 'charts/highcharts/highcharts.js' %}"></script>
        <script src="{% static 'charts/highcharts/highcharts-3d.js' %}"></script>
        <script src="{% static 'charts/highcharts/exporting.js' %}"></script>
    <!--highcharts END -->
    <!-- history.js -->
        <script src="{% static 'charts/historyjs/jquery.history.js' %}"></script>
    <!-- history.js END-->
{% endblock %}
{% block content %}
<div class="container">
<div class="panel panel-default" style="text-align:center">
<h1>
  {% for x in filtered_objects %}
    {{ x }}
  {% endfor %}

</h1>
    <div class="panel-body">
        <div id="bar"></div>
    </div>
</div>
{% endblock %}
