# Byte-compiled
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints

/db.sqlite3

/vocabs/data/japbibthesaurus_03.rdf
/vocabs/data/thepro_rdf.xml
/ecce/settings/dev_secret.py
/ecce/settings/mysql.py
/ecce/settings/postgres.py
/try-and-error.ipynb
