/* Application styles could go here */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
}

* {
    border-radius: 0 !important;
}

.wrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 90px;
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
}

header {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
}
#content  {
    margin-bottom: 50px;
}

footer {
    flex: 0 0 auto;
    font-size: 13px;
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
    background: #fff;
}

.navbar {
    background-color: #fff;
}

.navbar-nav.navbar-right:last-child {
    /*dirty fix due to https://github.com/twbs/bootstrap/issues/18362*/
    margin-right: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #000000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cf6766;
    
}
/*#ecce-logo {
  height: 80%;
}*/
.navbar-brand>img {
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand,
.navbar-nav>li>a {
    line-height: 67px;
    height: 67px;
}
.navbar-toggle {
    margin-top: 15px;
}
#myNavbar.mini-nav {
    box-shadow: 0 2px 2px #848488;
}
.grid-item {
    float: left;
    margin: 1%;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(94% / 3);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: justify;
    color: #fff;
    box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .1);

    font-weight: 800;
    text-align: center;
}

.grid-item>a,
.grid-item>hr {
    color: #fff;
}

.grid-item:hover {
    box-shadow: 2px 2px 24px 0 #828081;
}

.grid-item:hover>a {
    text-decoration: none;
}

.grid-item>a:hover,
.grid-item>a:focus {
    text-decoration: none;
}

.div-tile>h2 {
    font-weight: 800;
}

@media (min-width: 480px) and (max-width: 768px) {

    .grid-item {
        width: calc(94% / 2);
    }
    /*.book-image { width: 50% }*/
}

@media (max-width: 480px) {

    .grid-item {
        width: 94%;
    }

}
.div-tile {
    width: 100%;
    height: 120px;
}
.type-one {
    background: #cf6766;
}
.type-two {
    background: #8eaebd;
}
.hrtile {
    width: 70%;
}
#index-jumbo {
    margin-top: -25px;
    padding: 50px;
    color: #fff;
    background: #44546d;
}

#index-jumbo>p {
    color: #fff;
}

/**/the following css solves the responsivness of table for mobile devices by transforming a table into rows*/

.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        border: 2px solid #ccc;
        margin-bottom: 4px;
    }

    .table-responsive td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .table-responsive td:before {
        /* Now like a table header */
        /*position: absolute;*/
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    
    /*
Label the data
*/
    .table-responsive td:before {
        content: attr(class);
    }
}


/*end of table responsive css*/

.fa {
    padding-right: 10px;
}

#accordion>.panel>.panel-heading {
    color: #fff;
    border: 2px solid #8eaebd;
    background: #8eaebd;
}

.procustom-panel-list {
    /*border: none;*/
}

.panel-default>.procustom-panel-heading {
    border-width: 70%;
    /*color: #fff;*/
    border-bottom: 3px solid black;
    background-color: #fff;
}

.btn {
    line-height: 36px;

    height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 2rem;

    white-space: normal;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.panel-default>.panel-heading {
    border-bottom: 2px solid black;
    background-color: #fff;
}

.modal-header {
    border-bottom: none;
    outline: 0 !important;
    ;
}

a .fa-github {
    color: #000;
}
.label {
     display: block; 
     font-size: inherit;
     color: #000000;
}
.table>thead>tr>th {
    /*vertical-align: bottom;*/
     border-bottom: 0px; 
}


.table th.asc:after {
  content: '\0000a0\0025b2';
}
.table th.desc:after {
  content: '\0000a0\0025bc';
}
.freq-table th {
    width: 20%;
}
