{% extends "webpage/base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1><b>{{ object }}</b></h1>
        </div>
       <!--  <div class="panel panel-body"> -->
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:20%;">Consonant</th>
                    <td>{{ object.consonant }}</td>
                </tr>
                {% if object.first_consonant %}
                <tr>
                    <th>first_consonant</th>
                    <td><a href="{% url 'tokens:consonant_detail' pk=object.first_consonant.id %}">{{ object.first_consonant }}</a></td>
                </tr>
                {% endif %}
                {% if object.second_consonant %}
                <tr>
                    <th>second_consonant</th>
                    <td><a href="{% url 'tokens:consonant_detail' pk=object.second_consonant.id %}">{{ object.second_consonant }}</a></td>
                </tr>
                {% endif %}
                {% if object.third_consonant %}
                <tr>
                    <th>third_consonant</th>
                    <td><a href="{% url 'tokens:consonant_detail' pk=object.third_consonant.id %}">{{ object.third_consonant }}</a></td>
                </tr>
                {% endif %}
                 {% if object.fourth_consonant %}
                <tr>
                    <th>fourth_consonant</th>
                    <td><a href="{% url 'tokens:consonant_detail' pk=object.fourth_consonant.id %}">{{ object.fourth_consonant }}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <th>size</th>
                    <td>{{object.size}}</td>
                </tr>
                <tr>
                    <th>ssp</th>
                    <td>{{object.ssp}}</td>
                </tr>
                <tr>
                    <th>cv_structure</th>
                    <td>{{object.cv_structure}}</td>
                </tr>
                <tr>
                    <th>preferred_cluster</th>
                    <td>{{object.preferred_cluster}}</td>
                </tr>
                <tr>
                    <th>nad_vc</th>
                    <td>{{object.nad_vc}}</td>
                </tr>
                <tr>
                    <th>nad_c1c2</th>
                    <td>{{object.nad_c1c2}}</td>
                </tr>
                <tr>
                    <th>nad_c2c3</th>
                    <td>{{object.nad_vc}}</td>
                </tr>
                <tr>
                    <th># of related Tokens</th>
                    <td>
                        {{ object.token_cluster.all|length }}
                        <span data-toggle="modal" data-target="#myModal" title="click to get a list of related tokens" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </td>
                </tr>
            </table>
         {% if user.is_authenticated %}
<div class="panel-body">
    <a class="btn btn-primary" href="{% url 'tokens:cluster_update' pk=object.pk %}" role="button">edit cluster</a>
</div>
{% endif %}
    </div>

    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="text-align:center;">related Tokens</h4>
            </div>
            <div class="modal-body">
            {% for x in object.token_cluster.all %}
                <li><a href="{% url 'tokens:token_detail' pk=x.id %}">{{ x}}</a></li>
            {% endfor %}
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      </div>
    <!-- Modal end -->


{% endblock %}