{% extends "webpage/base.html" %}

{% block content %}

<div class="panel panel-default">
        <div class="panel-heading">
            <h1><b>{{ object }}</b></h1>
        </div>
<table class="table table-bordered table-hover">
    <tr>
        <th style="width:20%;" title="Date of source text this token is extracted from">Date</th>
        <td>{{ object.dates }}</td>
    </tr>
    <tr>
        <th title="Decade of source text this token is extracted from">Decade</th>
        <td>{{ object.decade }}</td>
    </tr>
    <tr>
        <th title="50-year period of source text this token is extracted from (e.g. 1250 stands for 1250-1300)">Semicentury</th>
        <td>{{ object.semicentury }}</td>
    </tr>
    <tr>
        <th title="Century of source text this token is extracted from">Century</th>
        <td>{{ object.century }}</td>
    </tr>
    <tr>
        <th title="probability estimate of graphemically checked cluster for this year (for probabilistic estimation only)">pr_cc_checekd</th>
        <td>{{object.pr_cc_checekd}}</td>
    </tr>
       <tr>
        <th title="probability estimate of cluster with graphemic final schwa for this year (for probabilistic estimation only)">pr_cc_final</th>
        <td>{{object.pr_cc_final}}</td>
    </tr>
    <tr>
        <th title="probability estimate of cluster with graphemic final and checked schwa for this year (for probabilistic estimation only)">pr_cc_final_V</th>
        <td>{{object.pr_cc_final_V}}</td>
    </tr>
    <tr>
        <th title="probability estimate of cluster with graphemic final schwa before vowel for this year (for probabilistic estimation only)">pr_cc_both</th>
        <td>{{object.pr_cc_both}}</td>
    </tr>
    <tr>
        <th title="probability estimate of graphemic cluster for this year (for probabilistic estimation only)">pr_cc_no</th>
        <td>{{object.pr_cc_no}}</td>
    </tr>
</table>
 {% if user.is_authenticated %}
<div class="panel-body">
    <a class="btn btn-primary" href="{% url 'tokens:date_update' pk=object.dates %}" role="button">edit date</a>
</div>
{% endif %}
</div>

{% endblock %}