{% extends "webpage/base.html" %}

{% block content %}

<div class="panel panel-default">
        <div class="panel-heading">
            <h1><b>{{ object }}</b></h1>
        </div>
<table class="table table-bordered table-hover">
    <tr>
        <th style="width:20%;" title="Phonological onset of the following word form">Right phonological context</th>
        <td>{{ object.rightonset }}</td>
    </tr>
    <tr>
        <th title="Stability status of the onset of the following wordform (fixed or variable)">Variability of right context</th>
        <td>{{ object.variable }}</td>
    </tr>
    <tr>
        <th title="Phonological value before a potential sound change of the following onset">Status pre change of context</th>
        <td>{{ object.pre_change }}</td>
    </tr>
    <tr>
        <th title="Phonological value after a potential sound change of the following onset">Status post change of context</th>
        <td>{{object.post_change}}</td>
    </tr>
    <tr>
        <th title="Onset of sound change of the following phonological onset">Onset of change</th>
        <td>{{object.onset}}</td>
    </tr>
    <tr>
        <th title="Offset of sound change of the following phonological onset">Offset of change</th>
        <td>{{object.offset}}</td>
    </tr>
</table>
 {% if user.is_authenticated %}
<div class="panel-body">
   <a class="btn btn-primary" href="{% url 'tokens:onset_update' pk=object.pk %}" role="button">edit onset</a>
</div>
{% endif %}
</div>
{% endblock %}