{% extends "webpage/base.html" %}

{% block content %}

<div class="panel panel-default">
        <div class="panel-heading">
            <h1><b>{{ object }}</b></h1>
        </div>
<table class="table table-bordered table-hover">
    <tr>
        <th style="width:20%;" title="Source text the token is extracted from">Text</th>
        <td>{{ object.text }}</td>
    </tr>
    <tr>
        <th title="Date of source  text this token is extracted from">Date</th>
        <td>{{ object.date }}</td>
    </tr>
    <tr>
        <th title="Genre of source text this token is extracted from">Genre</th>
        <td>{{ object.genre }}</td>
    </tr>
    <tr>
        <th title="Corpus of source text this token is extracted from">Corpus</th>
        <td>{{object.corpus}}</td>
    </tr>
    <tr>
        <th title="Lower estimate for date">Lower</th>
        <td>{{object.lower}}</td>
    </tr>
    <tr>
        <th title="Estimate for date of text this token is extracted from">Date (mean_date)</th>
        <td>{{object.mean_date}}</td>
    </tr>
    <tr>
        <th title="Size of source text this token is extracted from">Text Size</th>
        <td>{{object.size}}</td>
    </tr>
    <tr>
        <th title="Region of source text this token is extracted from">Region</th>
        <td>{{object.dialect}}</td>
    </tr>
</table>
 {% if user.is_authenticated %}
<div class="panel-body">
    <a class="btn btn-primary" href="{% url 'tokens:text_update' pk=object.pk %}" role="button">edit text</a>
</div>
{% endif %}
</div>
{% endblock %}