{% extends "webpage/base.html" %}

{% block content %}

<div class="panel panel-default">
        <div class="panel-heading">
            <h1><b>{{ object }}</b></h1>
        </div>
<table class="table table-bordered table-hover">
    <tr>
        <th style="width:20%;" title="Morphological status of cluster (e.g. lexical, derivational, inflectional,...)">Morphological status</th>
        <td>{{ object.label }}</td>
    </tr>
    <tr>
        <th title="Further description of morphological status of the cluster">Description morphological status</th>
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <th title="Morphonotactic status of the cluster (lexical, morphonotactic, weakly morphonotatcic)">Morphonotactic status</th>
        <td>{{ object.morphonotacticity }}</td>
    </tr>
</table>
{% if user.is_authenticated %}
<div class="panel-body">
   <a class="btn btn-primary" href="{% url 'tokens:tokenlabel_update' pk=object.pk %}" role="button">edit tokenlabel</a>
</div>
{% endif %}
</div>

{% endblock %}