{% extends "webpage/base.html" %}

{% block content %}

<div class="panel panel-default">
        <div class="panel-heading detail-heading">
            <h1><b>{{ object }}</b></h1>
        </div>
<table class="table table-bordered table-hover">
    <tr>
        <th style="width:20%;" title="Canonical identifier of this token">Legacy ID</th>
        <td>{{ object.legacy_id }}</td>
    </tr>
    <tr>
        <th title="Search string used to find this token">Search string</th>
        <td>{{ object.spelling }}</td>
    </tr>
    <tr>
        <th title="Left context of word token the cluster is part of">Left context</th>
        <td>{{ object.left_context }}</td>
    </tr>
    <tr>
        <th title="Word token the cluster is part of">Word form</th>
        <td>{{ object.plain_word }}</td>
    </tr>
    <tr>
        <th title="Part of speech of word token the cluster is part of">Part of speech</th>
        <td>{{object.pos}}</td>
    </tr>
    <tr>
        <th title="Morphological status of cluster (e.g. lexical, derivational, inflectional,...)">Morphological status</th>
        <td>{{object.label}}</td>
    </tr>
    <tr>
        <th title="Right context of word token the cluster is part of">Right context</th>
        <td>{{object.right_context}}</td>
    </tr>
    <tr>
        <th title="Source text the token is extracted from">Text</th>
        <td>{{object.text_source}}</td>
    </tr>
    <tr>
        <th title="IPA phonological transcription of the cluster">Cluster</th>
        <td>{{object.cluster}}</td>
    </tr>
    <tr>
        <th title="Medial suffix involved in cluster formation">Medial suffix</th>
        <td>{{object.medial_suffix}}</td>
    </tr>
    <tr>
        <th title="Final suffix involved in cluster formation">Final suffix</th>
        <td>{{object.final_suffix}}</td>
    </tr>
    <tr>
        <th title="Graphemic category of the cluster">Spelling category</th>
        <td>{{object.spelling2}}</td>
    </tr>
    <tr>
        <th title="Onset of the following word form">Right phonological context</th>
        <td>{{object.rightonset}}</td>
    </tr>
    <tr>
        <th title="Lemma of the word form the cluster is part of">Word lemma</th>
        <td>{{object.lemma}}</td>
    </tr>
    <tr>
        <th title="Probabilistically derived weight of the cluster token">Weight</th>
        <td>{{object.weight}}</td>
    </tr>
    <tr>
        <th title="Per million tokens normalized probabilistically derived weigth of the cluster token (normalization based on semicentury-wise subcorpora)")>Per semizentury normalized weight</th>
        <td>{{object.weight_norm}}</td>
    </tr>
    <tr>
        <th title="Per million tokens weigth of the cluster token")>Per semizentury not normalized weight</th>
        <td>{{object.weight_not_norm}}</td>
    </tr>

    {% if user.is_authenticated %}
    <tr>
        <th title="Comments for internal usage">Internal comments</th>
        <td>{{object.comments}}</td>
    </tr>
    <tr>
        <th title="Internal file name used for data analysis">Internal analysis file</th>
        <td>{{object.file}}</td>
    </tr>
    {% endif %}
</table>
 {% if user.is_authenticated %}
<div class="panel-body">
    <a class="btn btn-primary" href="{% url 'tokens:token_update' pk=object.pk %}" role="button">edit token</a>
</div>
{% endif %}
</div>

{% endblock %}
