{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% load browsing_extras %}
{% load i18n %}
{% block Titel %} Browse {{ class_name }} {% endblock %}
{% block scriptHeader %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/datatables.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
    #container {
        min-width: 310px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto
    }
</script>


{% endblock %}
{% block content %}
<style>


</style>


<script type="text/javascript">

$(document).ready(function() {

var fetchedParameter = "{{ table.page.number }}";
$("#goto option").each(function() {
    if($(this).text() == fetchedParameter) {
        $(this).attr('selected', 'selected');
    }
});

});
</script>

<div class="container">
<div class="panel panel-default">
    <div class="panel-heading procustom-panel-heading">

        <h3><span class="fa fa-search" style="padding-left:10px; padding-right: 10px;">
        </span>Browse {% class_definition %} {% block list_title %}{% endblock %}</h3>

          {% load django_tables2 crispy_forms_tags %}
            <form action="." class="uniForm" method="get">
                {% if togglable_colums %}
                <br>
                    <legend>Select additional columns</legend>
                    {% column_selector  %}
                    <br>
                {% endif %}

            {% crispy filter.form filter.form.helper %}

            </form>

    {% block create_button %}{% endblock %}
 </div>
    <div class="panel-body procustom-panel-body">
    <legend>Frequencies</legend>
     <a class ="btn btn-default"  href="{% url 'browsing:browse_tokens' %}{% querystring %}" style="margin-bottom: 20px;"><i class="fa fa-arrow-left"></i> Back to Total results</a>

     <table id="myTable" class="table table-striped table-condensed table-hover">
         <thead>
             <tr>
                 <th>
                    Semicentury
                 </th>
                 <th>
                    Tokens
                 </th>
                 <th>
                    Weighted
                 </th>
                 <th>
                    Normalized and weighted
                 </th>
                 <th>
                    Token Normalized
                 </th>
             </tr>
         </thead>
         <tbody id="myTableBody">
             {% for x in rows %}
                 <tr>
                    {% for y in x %}
                        <td>
                            {{ y }}
                        </td>
                    {% endfor %}
                 </tr>
             {% endfor %}
                <tr>
                    <td>
                        Total
                    </td>
                    {% for cell in total %}

                        <td>
                            {{ cell }}
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
     </table>
     <div id="container"></div>

</div>
</div>
</div>
<script>
    var table = $('#myTable').DataTable(
        {
            pageLength: 50,
            keepConditions: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        }
    );
</script>
<script>

var table = $('#myTable').DataTable();
var years = table.columns().data()[0].slice(0, -1)
var nor_wei = table.columns().data()[3].map(Number).slice(0, -1)
var nor = table.columns().data()[4].map(Number).slice(0, -1)
var wei = table.columns().data()[2].map(Number).slice(0, -1)
console.log(nor_wei);

Highcharts.chart('container', {
    chart: {
        type: 'line',
        zoomType: 'x'
    },
    title: {
        text: 'Token Frequency'
    },
    xAxis: {
        categories: years
    },
    yAxis: {
        title: {
            text: 'Numbe of Tokens'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [
        {
            name: 'Normalized Weighted',
            data: nor_wei
        },
        {
            name: 'Normalized',
            data: nor
        },
        {
            name: 'Weighted',
            data: wei
        }
]
});
</script>


<script type="text/javascript">
  /* attached to jquery */
/* attached to Bootstrap.js */

//******ACCORDION TOGGLE - collapse/closed shows plus, and open shows minus

    var $activePanelHeading = $('.panel-group .panel .panel-collapse.in').prev().addClass('active');  //add class="active" to panel-heading div above the "collapse in" (open) div
    $activePanelHeading.find('a').prepend('<span class="fa fa-minus-square-o"></span> ');  //put the minus-sign inside of the "a" tag
    $('.panel-group .panel-heading').not($activePanelHeading).find('a').prepend('<span class="fa fa-plus-square-o"></span> ');  //if it's not active, it will put a plus-sign inside of the "a" tag
    $('.panel-group').on('show.bs.collapse', function (e) {  //event fires when "show" instance is called
        //$('.panel-group .panel-heading.active').removeClass('active').find('.fa').toggleClass('fa-plus fa-minus-square-o'); - removed so multiple can be open and have minus sign
        $(e.target).prev().addClass('active').find('.fa').toggleClass('fa-plus-square-o fa-minus-square-o');
    });
    $('.panel-group').on('hide.bs.collapse', function (e) {  //event fires when "hide" method is called
        $(e.target).prev().removeClass('active').find('.fa').removeClass('fa-minus-square-o').addClass('fa-plus-square-o');
    });
</script>
{% block customScripts %}
{% endblock %}
{% endblock %}
