{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %} {% endblock %}
{% block scriptHeader %}
{% endblock %}
{% load django_tables2 crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h1>{% block list_title %}{% endblock %}</h1>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myFilter">
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myColumns">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
        {% block reset_button %}{% endblock %}
    </div>
    <div class="panel-body">
      {% render_table table %}
    </div>
  </div>
  <!-- Modals -->
    <div class="modal fade" id="myColumns" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Colums</h4>
        </div>
        <div class="modal-body">
          <form>
            {% for x in th_headers %}
            <label class="checkbox-inline">
              <input type="checkbox" value="{{x}}" onclick="displayColumn(this.value);">{{x}}
            </label>
            {% endfor %}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="myFilter" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Filter & Search</h4>
          </div>
          <div class="modal-body">
            {% crispy filter.form filter.form.helper %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% block customScripts %}
  <script>
  var startcolums = ['id', 'legacy_id'];

  $( document ).ready(function() {
    initColums();
  });

    function displayColumn(headertext) {
        var t = $("a[href='?sort="+ headertext+ "']").parent().index() + 1;
        $('td:nth-child('+t+'),th:nth-child('+t+')').toggle();
    }

    function handleClick(cb) {
      alert("Clicked, new value = " + cb.checked);
    }



    function initColums(){
      startcolums.forEach(function(a){
        displayColumn(a);
        console.log(a);
      })
    };

  </script>


{% endblock %}

{% endblock %}
