{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %} {% endblock %}
{% block scriptHeader %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/jquery.autocomplete/jquery.autocomplete.css' %}"/>
<script src="{% static 'webpage/libraries/jquery.autocomplete/jquery.autocomplete.js' %}"></script> -->
{% endblock %}
{% block content %}
<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">

        <h1>{% block list_title %}{% endblock %}</h1>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </button>
        |
        select colums:
        <form>
          <select class="form-control" name="selected_colums" multiple>
            {% for x in th_headers %}
              <option value="{{ x }}">{{ x|title }}</option>
            {% endfor %}
          </select>
          <input type="submit">
        </form>

    {% block create_button %}

    {% endblock %}
    </div>
    <div class="panel-body">


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          {% load django_tables2 crispy_forms_tags %}
          {% crispy filter.form filter.form.helper %}
          {% block reset_button %}
            {% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

                {% render_table table %}
            </div>
        </div>
    </div>

{% block customScripts %}{% endblock %}
{% endblock %}
