{% extends "browsing/generic_list.html" %}
{% block Titel %}Browse OnSet{% endblock %}
{% block list_title %}Browse OnSet
    {% if user.is_authenticated %}
        | <a class ="btn btn-primary"  href="{% url 'tokens:onset_create' %}">Create new OnSet</a>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br> -->
 <p></p>
 <a class ="btn btn-default"  href="{% url 'browsing:browse_onsets' %}">Reset search</a>
{% endblock %}

{% block customScripts %}
{% endblock %}
