{% extends "browsing/generic_list.html" %}
{% block Titel %}Browse Schwapresent{% endblock %}
{% block list_title %}Browse Schwapresent
    {% if user.is_authenticated %}
        | <a class ="btn btn-primary"  href="{% url 'tokens:schwapresent_create' %}">Create new Schwapresent</a>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br> -->
 <p></p>
 <a class ="btn btn-default"  href="{% url 'browsing:browse_schwapresents' %}">Reset search</a>
{% endblock %}

{% block customScripts %}
{% endblock %}
