{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block Titel %} About {% endblock %}

{% block content %}
    <div class="container text-justify">
        <h1>About {% projects_metadata 'title' %} project</h1>
        <br>
        <p>The Evolution of Consonant Clusters in English (ECCE) database represents the largest diachronically layered collection of English word-final consonant clusters such as /nd/ in hand – phonologically speaking highly marked structures which are nevertheless abundant in English. The data are derived from two corpora – the Penn-Helsinki Parsed Corpus of Middle English and the Penn-Helsinki Parsed Corpus of Early Modern English, and range from the 12th century to the beginning of the 17th century, thus spanning a period of more than 500 years.</p>
        <p>The database is enriched with a host of morphological, phonological, and lexical features. Every single cluster token in the database is annotated with the following information:
        <ul>
        <li>Morphonotactic status: is the cluster token spanning a morpheme boundary or lexical?</li>
        <li>Potential suffixes involved in the establishment of the cluster token</li>
        <li>IPA phonological transcription</li>
        <li>Information about respective places of articulation, manners of articulation, sonority, and voicing of the segments involved</li>
        <li>Net-auditory-distance (NAD) between the segments involved</li>
        <li>Information about the subsequent phonological context</li>
        <li>Written word form of the word token the cluster occurs in</li>
        <li>Graphemic classification of the cluster token</li>
        <li>Part-of-speech of the word token the cluster occurs in</li>
        <li>Lemma of the word token the cluster occurs in</li>
        </ul>
        </p>
        <p>In addition to information about the source texts derived from the Penn Helsinki Corpora (such as approximate date, genre, manuscript and region), the database provides probabilistically derived weights for each individual cluster token. This is necessary, since it is difficult to infer the correct phonological information from the written source data that is available to the researcher. These weights were computed by means of models of linguistic spread and will help to provide more reliable estimates of token-frequencies of consonant clusters.</p>
        <p>Thus, the database facilitates to tackle a variety of questions about English coda phonotactics and their interaction with morphology, morphosyntax, graphemics and the lexicon, as well as cluster-specific frequency developments in terms of type and token frequencies.</p>
        <p>For more information about the ECCE project including a list of publications based on the database, please visit: <a href="http://ecce.univie.ac.at/">ecce.univie.ac.at</a></p>
        <p>For citing the ECCE database please use:</p>
		<p>
        Ritt, Nikolaus; Prömer, Christina; Baumann, Andreas. 2017. Evolution of Consonant Clusters in English (ECCE): a diachronic phonotactic database. Department of English and American Studies, University of Vienna. Online publication, version X.X (ecce.acdh.oeaw.ac.at).
        </p>
    </div>
{% endblock %}
