{% load staticfiles %}
{% load webpage_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block Titel %} {% projects_metadata 'title' %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block metaDescription %}
      <meta name="description" content="{{ metadata.description }}">
      {% endblock %}
      <meta name="author" content="{{ metadata.author }}">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/bootstrap337/css/bootstrap.min.css' %}"/></link>
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'webpage/css/style.css' %}"/></link>
      <!--scroll to top CSS -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/scroll-to-top/css/ap-scroll-top.min.css'%}"></link>
      <!-- jQuery -->
      <script type="text/javascript" src="{% static 'webpage/libraries/jquery/jquery.js' %}"></script>
      <!--Isotop-->
      <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
      <!--Mansory JS-->
      <script type="text/javascript" src="https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"></script>
      <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
      {% block extra_head %}{% endblock %}
      <!--scroll to top -->
      <script src="{% static 'webpage/libraries/scroll-to-top/js/ap-scroll-top.min.js'%}"></script>
      <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
            window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"{% url 'webpage:imprint' %}","theme":"dark-bottom"};
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->
        <!-- cool-share plugin http://tutorialzine.com/2014/08/cool-share-jquery-plugin/ -->
            <link rel="stylesheet" href="{% static 'webpage/libraries/cool-share/plugin.css' %}"/></link>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
            <script src="{% static 'webpage/libraries/cool-share/plugin.js' %}"/></script>
        <!-- End fo cool-share -->
        <!-- Piwik -->
          <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.ecce.acdh.oeaw.ac.at","*.ecce.eos.arz.oeaw.ac.at"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
              var u="//piwik.apollo.arz.oeaw.ac.at/";
              _paq.push(['setTrackerUrl', u+'piwik.php']);
              _paq.push(['setSiteId', '49']);
              var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
              g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
          </script>
          <noscript><p><img src="//piwik.apollo.arz.oeaw.ac.at/piwik.php?idsite=49" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

      {% block scriptHeader %}
      {% endblock %}
  </head>

  <body role="document">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" id="myNavbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation!</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
                <img id="ecce-logo"
                    src="{% static 'webpage/img/ecce_logo.jpg' %}" alt="ECCE">
              </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT
                  <span class="caret"/>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'webpage:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'datamodel:plate' %}">Application's data model</a>
                    </li>
                    <li>
                        <a href="{% url 'webpage:imprint' %}">Impressum / Imprint</a>
                    </li>
                  </ul>
              </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DATA
                  <span class="caret"/>
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="{% url 'browsing:browse_tokens' %}">Tokens</a>
                      </li>
                    <li>
                        <a href="{% url 'browsing:browse_dates' %}">Dates</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_corpora' %}">Corpora</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_texts' %}">Texts</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_consonants' %}">Consonants</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_clusters' %}">Cluster</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_tokenlabels' %}">TokenLabel</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_schwapresents' %}">SchwaPresent</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_onsets' %}">OnSet</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                    <a href="{% url 'charts:chart_selector' %}">
                    CHARTS
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'charts:chart_selector' %}">select charts</a>
                        </li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VOCABULARIES
                    <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                          <a href="{% url 'vocabs:skosconceptscheme_list' %}">Concept Schemes</a>
                      </li>
                      <li>
                          <a href="{% url 'vocabs:skosconcept_list' %}">Concepts</a>
                      </li>
                      <li>
                          <a href="{% url 'vocabs:skoslabel_list' %}">Labels</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                          <a href="{% url 'vocabs:skos_import' %}">Import SKOS (RDF/XML)</a>
                      </li>
                      <li>
                          <a href="{% url 'api-root' %}">Export SKOS (API)</a>
                      </li>
                    </ul>
                  </li>
                  {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                {% if user.is_authenticated %}
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"/>&nbsp;{{ user.get_username }}
                  </a>
                  <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'webpage:user_login' %}">Log-In</a>
                        </li>
                        <li>
                            <a href="{% url 'webpage:user_logout' %}">Log-Out</a>
                        </li>
                      </ul>
                {% else %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"/>
                  </a>
                      <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'webpage:user_login' %}">Log-In</a>
                        </li>
                        <li>
                            <a href="{% url 'webpage:user_logout' %}">Log-Out</a>
                        </li>
                      </ul>
                {% endif %}
              </li>
            </ul>
        </div>
         </div>
    </nav>
    </header>


    <section class="main-content">
    {% block index-content %}
    {% endblock %}
      <div id="content" class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    <!-- The share buttons will be inserted here -->


    <footer>
     <div class="container">
     <div class="row">
      <div class="col-sm-4 text-center">
            <a href="http://ecce.univie.ac.at/home/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/Uni_Logo_2016_SW.png' %}" alt="UniWien" style="width: 60%;"/>
            </a>
            
        </div>
        <div class="col-sm-4 text-center">
          <a href="https://acdh.oeaw.ac.at/acdh/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/acdh_logo_black_with_text.png' %}" alt="ACDH" style="width: 30%; margin-top: 25px; margin-bottom: 30px;"/>
          </a>
        </div>
        <div class="col-sm-4 text-center">
        <a href="https://www.fwf.ac.at/en/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/fwf-logo.jpg' %}" alt="FWF" style="width: 50%; margin-top: 25px; margin-bottom: 55px;"/>
            </a>
        </div>
        </div>
        <div class="row">

        <div class="col-sm-4 text-center">
            <h4><b>Contact:</b></h4>
            <p>Dr. Nikolaus Ritt
            <br>nikolaus.ritt@univie.ac.at</p>
            <p>Department of English and American Studies,
            <br>University of Vienna
            <br>Spitalgasse 2-4/Hof 8.3
            <br>1090 Vienna</p>
            
        </div>
         <div class="col-sm-4 text-center">
         <h4><b>GitHub:</b></h4>
            <a href="https://github.com/acdh-oeaw/ecce">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
         </div>
        </div>
      </div>

    </footer>
    {% block scripts %}
    <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap335/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap335/js/bootstrap-tab.js' %}"></script>
    <!-- cool share -->
    <!--   <script type="text/javascript">
        $(function (){
          var options = {
            twitter: {
              text: '',
              via: ''
            },
            facebook : true,
            googlePlus : true
          };
          $('.socialShare').shareButtons(options);
        });
      </script> -->
    <!-- scroll-up-bottom -->
    <script type="text/javascript">
    var nav = $('#myNavbar'); // Change to nav div
    var nav_class = 'mini-nav'; // Change to class name
    var threshold = 100; // Change to pixels scrolled
    $(window).scroll(function() {
    var distance = $(this).scrollTop();
    if (distance > threshold) { // If scrolled past threshold
        nav.addClass(nav_class); // Add class to nav
    } else { // If user scrolls back to top
        if (nav.hasClass(nav_class)) { // And if class has been added
            nav.removeClass(nav_class); // Remove it
        }
    }
});
</script>
    <script type="text/javascript">
            // Setup plugin with default settings
            $(document).ready(function() {
                $.apScrollTop({
                    'onInit': function(evt) {
                        console.log('apScrollTop: init');
                    }
                });
            });
    </script>
    {% endblock %}
  </body>
</html>
