{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}


{% block index-content %}
<div class="jumbotron text-center" id="index-jumbo">
  <h1>ECCE</h1>
  <h2>evolution of consonant clusters in English</h2>
  <hr style="width: 60%; border: 1px solid #fff;">
  <h2><b>AN INTERACTIVE DATABASE OF ENGLISH WORD-FINAL CONSONANT CLUSTERS</b></h2>
  <div class="empty-div"></div>
</div>
{% endblock %}

{% block content %}
<div class="main-flexbox">    
        <div class="card">
            <h2 class="text-center">Contents</h2>
            <hr class="hrtile">
            <p class="text-justify">
            <b>ECCE database includes:</b><br>
            <b>(a)</b> Word forms that ended in consonant clusters at the time of their attestation (e.g. EME <i>ald</i> /ɑld/ ‘old’),<br>
            <b>(b)</b> Word forms that had the potential of ending in clusters after schwa loss (e.g. EME <i>giltes</i> /giltəs/ > /gilts/ ‘guilts’),<br>
            <b>(c)</b> Word forms that had lost a cluster which had been present in their predecessors (e.g. EModE <i>climb</i> /kli:m/ < /kli:mb/ after final consonant deletion).<br>
            All tokens in ECCE database are annotated and categorized with regard to a rich variety of phonological and morphological parameters.  
            </p>
        </div>    
        <div class="card">
            <h2 class="text-center">Source</h2>
            <hr class="hrtile">
            <p class="text-justify">
            The word form tokens contained in <b>ECCE database</b> were retrieved from the POS-tagged versions of the <a href="http://www.ling.upenn.edu/histcorpora/PPCME2-RELEASE-4/">Penn-Helsinki Parsed Corpus of Middle English</a> (© Kroch & Taylor 2000) and the <a href="http://www.ling.upenn.edu/histcorpora/PPCEME-RELEASE-3/">Penn-Helsinki Parsed Corpus of Early Modern English</a> (© Kroch et al. 2004), which cover the period from <b>1150 - 1720</b>. 
            <br>For each token, the Penn-Helsinki source file from which it was retrieved is indicated.
            </p>
        </div>   
        <div class="card">
            <h2 class="text-center">Purpose</h2>
            <hr class="hrtile">
            <p class="text-justify">
            <b>ECCE database</b> can be used to analyse the evolution of word final consonant clusters in quantitative terms. Its phonological and morphological categorizations make it possible to test and models and theories about factors that affect the historical stability of phonological constituents, such as their phonological markedness or their morphological indexicality. The period covered by ECCE lends itself well for the purpose because many and diverse types of consonant clusters emerged at its start, when vowels were lost in final syllables.
            </p>
        </div>   
</div>
<div class="row">
<div class="col-sm-6 text-center">
<a href="{% url 'browsing:browse_tokens' %}" class="button index-button">
<span>explore the database</span>
</a>
</div>
<div class="col-sm-6 text-center">
<a href="{% url 'webpage:manual' %}" class="button index-button">
<span>read the user manual</span>
        </a>
</div>
</div>


{% endblock %}
