{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}


{% block index-content %}
<div class="container jumbotron text-center" id="index-jumbo">
  <h1>ECCE</h1>
  <h2>EVOLUTION OF CONSONANT CLUSTERS IN ENGLISH</h2>
  <hr style="width: 60%; border: 2px solid #fff;">
  <p class="text-muted" align="justify">One of the main purposes of this project is to produce an interactive database of English word-final consonant clusters – phonologically speaking highly marked structures which are nevertheless abundant in English. Our aim is to enrich the scientific landscape of phonology with up to now unexplored diachronic aspects of cluster development, showing how coda clusters emerged and why they are historically speaking stable despite their marked status.</p>

</div>
{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #44546d;"><b>EXPLORE</b></h1>
<hr style="width: 60%; border: 2px solid #44546d;">
<div class="grid">

    <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-one">
    <a href="{% url 'browsing:browse_tokens' %}">
        <div class="div-tile">
            <h2>Tokens</h2>
            <hr class="hrtile">
            <h2>{% tokens_count %}</h2>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-two">
    <a href="{% url 'browsing:browse_dates' %}">
        <div class="div-tile">
            <h2>Dates</h2>
            <hr class="hrtile">

            <h2>{% dates_count %}</h2>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-one">
    <a href="{% url 'browsing:browse_corpora' %}">
        <div class="div-tile">
            <h2>Corpora</h2>
            <hr class="hrtile">

            <h2>{% corpora_count %}</h2>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-two">
    <a href="{% url 'browsing:browse_texts' %}">
        <div class="div-tile">
            <h2>Texts</h2>
             <hr class="hrtile">

            <h2>{% texts_count %}</h2>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-one">
    <a href="{% url 'browsing:browse_consonants' %}">
        <div class="div-tile">
            <h2><b>Consonants</b></h2>
             <hr class="hrtile">

            <h2>{% consonants_count %}</h2>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-two">
    <a href="{% url 'browsing:browse_clusters' %}">
        <div class="div-tile">
            <h2>Cluster</h2>
             <hr class="hrtile">

            <h2>{% clusters_count %}</h2>
        </div>
        </a>
    </div>
</div>

<script type="text/javascript">

$(window).on('load resize scroll', function (){
$('.grid').masonry({
  itemSelector: '.grid-item',
});
});
</script>

{% endblock %}
