{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}


{% block index-content %}
<div class="jumbotron text-center" id="index-jumbo">
  <h1>ECCE</h1>
  <h2>evolution of consonant clusters in English</h2>
  <hr style="width: 60%; border: 1px solid #fff;">
  <h2><b>AN INTERACTIVE DATABASE OF ENGLISH WORD-FINAL CONSONANT CLUSTERS</b></h2>
  <div class="empty-div"></div>
</div>
{% endblock %}

{% block content %}
<div class="main-flexbox">    
        <div class="card">
            <h2 class="text-center">What?</h2>
            <hr class="hrtile">
            <p class="text-justify">The data for compiling the database was derived from the <b>Penn-Helsinki Parsed Corpus of Middle English
            </b>
            (Kroch & Taylor 2000) and the <b>Penn-Helsinki Parsed Corpus of Early Modern English</b> (Kroch et al. 2004).
            These diachronic corpora cover the period from <b>1150-1720</b> and include both preand post-schwa-loss data.</p>
        </div>    
        <div class="card">
            <h2 class="text-center">How?</h2>
            <hr class="hrtile">
            <p class="text-justify">
            <b>DECCE includes:</b><br>
            <b>(a)</b> Word forms that ended in consonant clusters at the time of their attestation,<br>
            <b>(b)</b> Word forms that had the potential of ending in clusters after schwa loss,<br>
            <b>(c)</b> Word forms that had lost a cluster which had been present in their predecessors (e.g. /klaɪm/ from /klɪ:mb/ after final consonant deletion).
            </p>
        </div>   
        <div class="card">
            <h2 class="text-center">Why?</h2>
            <hr class="hrtile">
            <p class="text-justify">
            Consonant clusters are phonologically speaking <b>highly marked</b> structures which are nevertheless
            <b>abundant in English</b>. Our aim is to enrich the scientific landscape of phonology with up to now <b>unexplored diachronic aspects of cluster development</b>, showing how coda clusters emerged and why they are historically
            speaking stable despite their marked status.
            </p>
        </div>   
</div>
<div class="row">
<div class="col-sm-6 text-center">
<a href="{% url 'browsing:browse_tokens' %}" class="button index-button">
<span>explore the database</span>
</a>
</div>
<div class="col-sm-6 text-center">
<a href="{% url 'webpage:manual' %}" class="button index-button">
<span>read the user manual</span>
        </a>
</div>
</div>


{% endblock %}
