{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block Titel %} User Manual {% endblock %}
{% block content %}
<div class="panel panel-default">
        <div class="panel-heading detail-heading">
            <h1 style="text-align:center;"><b>ECCE database – user manual</b></h1>
        </div>
        <div class="panel-body">
        <p class="text-muted">Andreas Baumann, Christina Prömer, Nikolaus Ritt<br>
		University of Vienna, Austria
		</p>

		<!--Navigation block-->
		<ol id="manual-outline">
	      <li><a href="#introduction">Introduction</a></li>
	      <li><a href="#major-search-fields">Major search fields</a>
		     <ol>
		        <li><a href="#cluster-fields">Cluster Fields</a></li>
		        <li><a href="#the-mpt-status-field">The MPT status field</a></li>
		        <li><a href="#period-fields">Period fields</a></li>
		        <li><a href="#the-pos-fields">The POS field</a></li>
		        <li><a href="#the-spelling-string-field">The spelling-string field</a></li>
		     </ol>
		  </li>
	      <li><a href="#additional-search-fields">Additional (minor) search fields</a>
	      	<ol>
		        <li><a href="#basic-options">Basic options: Spelling category</a></li>
		        <li><a href="#lexicon-related">Lexicon related search options: Lemma</a></li>
		        <li><a href="#morphology-related">Morphology related search options: Morphonotactic status</a></li>
		        <li><a href="#phonology-related">Phonology related search options: Right phonological context</a></li>
		        <li><a href="#phonotactics">Phonotactics related search options</a>
			        <ol>
				        <li><a href="#cluster-size">Cluster size</a></li>
				        <li><a href="#ssp-fulfilled">SSP fulfilled</a></li>
				        <li><a href="#nad">NAD VC, NAD C1C2, NAD C2C3, and NAD preferred</a></li>
			        </ol>
			    </li>
		        <li><a href="#text-related">Text related search options</a></li>
		     </ol>
		   </li>
	      <li><a href="#result-fields">Result fields</a>
	      <ol>
		        <li><a href="#token-list">Token list</a>
			        <ol>
				        <li><a href="#plain-word">Plain word</a></li>
				        <li><a href="#right-left-context">Right context, Left context</a></li>
				        <li><a href="#word-lemma">Word lemma</a></li>
				        <li><a href="#cluster">Cluster</a></li>
				        <li><a href="#morphological-status">Morphological status</a></li>
				        <li><a href="#date">Date</a></li>
				        <li><a href="#additional-result-fields">Additional result fields</a></li>
			        </ol>
			     </li>
		        <li><a href="#freq-table">Frequency tables</a>
		        	<ol>
				        <li><a href="#semicentury">Semicentury</a></li>
				        <li><a href="#tokens">Tokens</a></li>
				        <li><a href="#weighted">Weighted</a></li>
				        <li><a href="#normalized-weighted">Normalized and weighted</a></li>
				        <li><a href="#normilized">Normalised</a></li>

			        </ol>
			    </li>		    
		     </ol>
		  </li>
	      <li><a href="#charts">Charts</a></li>
	      <li><a href="#using-decce">Using ECCE database for simulating virtual post schwa loss varieties</a></li>
	      <li><a href="#downloading-results">Downloading search results for further processing and analysis</a></li>
	      <li><a href="#disclaimers">Envoy and some disclaimers</a></li>
	      <li><a href="#references">References</a></li>
	     </ol>

		<!--end of navigation block-->

		<!--content sections-->
		<div id="introduction">
		<h2>1 Introduction</h2>
		<p>ECCE database is a diachronic database designed to study the evolution of word final consonant clusters in English between the 12th and the 18th century. It is based on searches in the Penn Helsinki Parsed Corpora of Middle and Early Modern English and contains attestations of word forms that either actually ended in clusters at the time of their attestation, or that had the potential to do so at any point during the observation period. Some examples of the former are</p>
		<p>(1) <i>against 1743 (P): ends in /nst/<br>
		ald 1200 (A) ‘old’: /ld/<br>
		merchants 1612 (N PL): /nts/<br>
		prescrib'd 1624 (PPL): /bd/<br>
		realm: 1571 /lm/<br>
		þoht 1213 (N) ‘thought’: /Xt/<br>
		</i></p>
		<p>Among the latter two types can be distinguished. First, there are attestations that are unlikely to have represent final consonant clusters at the time of their attestation, but had descendants or ancestors that did. Examples are in (2):</p>
		<p>(2)<i>
		daynede 1340 (V PT) ‘deigned’: ended in /nd/ only after schwas in /dainədə/ were lost<br>
		climb 1698 (V): ended in /mb/ before final cluster simplification (/mb/ > /m)<br>
		giltes 1213 (N PL) ‘guilts’: /lts/ but only after schwa in /giltəs/ was lost<br>
		moneþ 1200 (N) ‘month’: /nθ/ only after schwa loss<br>
		thought  1696 (N): /Xt/ but only before /X/-vocalisation<br>
		tunes 1150 (N PL) ‘towns’: /ns/<br>	
		</i>
		</p>
		<p>After retrieval, word forms were (a) analysed phonologically and morphologically, as well as (b) lemmatized, and the information thus gained was entered into the database. Additionally (c), our database provides estimates of the probability that a cluster potentially resulting from schwa loss was actually realized as one (see below <a href="#additional-search-fields">Weight</a>). These estimates were derived from a model of gradual schwa loss implementation that calibrated an s-curve against metrical evidence of verse from different stages of our observation period. For a detailed account of this method see Baumann, Prömer & Ritt forthc..</p>
		<p>Enriched in this way, the ECCE database makes it possible to investigate the development of word final consonant clusters in Middle and Early Modern English systematically and in considerable detail.</p>
		<p>This introduction cum manual briefly introduces the search fields in the ECCE database, the information they provide, and the analytic principles that information reflects. It also introduces the online interface and explains how search results can be exported for further analysis.</p>

		</div>
		<div id="major-search-fields">
		<h2>2 Major search fields</h2>
			<div id="cluster-fields">
			<h3>2.1 Cluster Fields</h3>
			<p>These fields represent the core of ECCE database. They make it possible to search for coda clusters in a variety of different ways. Basically, the database represents clusters as sequences of segments. The maximal length of clusters in our data is four, so the ECCE database search mask contains four columns of search fields, one column for each segment. Column 4 represents the word final segment in a cluster, column 3 the penultimate one, and so on.  Each column contains four rows, in which the properties of cluster constituents are represented in four different ways. The first row represents segments as phonemes in IPA notation. The second row specifies their manner of articulation, the third one their place of articulation, and the final one their phonation type (i.e voiced or voiceless). All of the columns may be used in searches for cluster types at different levels of abstraction.</p>
			<p>Figure 1 below shows a way of searching for words ending in /rld/ clusters (e.g. world) by looking for sequences of two liquids and a voiced alveolar stop. </p>
			<p>(1)</p>
			<img src="{% static 'webpage/img/resource1.png' %}" style="width: 80%"/>
			<p>The same clusters would also be returned if one were to search for the final sequence /r/ /l/ /d/, as in figure 2:</p>
			<p>(2)</p>
			<img src="{% static 'webpage/img/resource2.png' %}" style="width: 80%"/>
			<p>In fact, search fields can be used in any combination. For instance, tokens of world will also be found if one searches for clusters consisting of two liquids followed by /d/, for example, or for clusters consisting of /r/, a liquid, and a final alveolar stop, or for other appropriate combinations. Thus, ECCE makes it possible to search for clusters at various levels of phonological abstraction, and facilitates the investigation of developments that might reflect the impact of markedness constraints on the evolutionary stability of coda clusters. For instance, sonorant-stop clusters (as in old or went) count as less marked than stop-stop clusters (as in act or lagged), and their diachronic stability might reflect this. But this is just an example. The number of phonological hypotheses to test is large.</p>
			</div>
			<h3>To be continued ...</h3>
		</div>
		<div id="">
		</div>
		<div id="">
		</div><div id="">
		</div>
		<div id="">
		</div>
		<div id="">
		</div>
		<div id="">
		</div>
		<div id="">
		</div>

        </div>
</div>

{% endblock %}